img {
  max-height: 50px;
  border: 2px solid #fff;
  border-color: transparent;
  display: inline;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.ml-2 {
  margin-left: 2px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-5 {
  margin-left: 5px;
}